.activity-panel{

margin-top:25px;

padding:24px;

background:#101010;

border:1px solid #242424;

border-radius:22px;

}

.activity-header span{

color:#FFD400;

font-size:11px;

font-weight:700;

letter-spacing:.2em;

}

.activity-header h2{

margin-top:8px;

color:white;

}

.activity-list{

margin-top:30px;

display:flex;

flex-direction:column;

gap:18px;

}

.activity-item{

display:flex;

gap:16px;

align-items:flex-start;

padding-bottom:18px;

border-bottom:1px solid #222;

}

.activity-item:last-child{

border-bottom:none;

padding-bottom:0;

}

.activity-icon{

width:42px;

height:42px;

display:flex;

align-items:center;

justify-content:center;

background:#FFD40022;

border-radius:50%;

color:#FFD400;

}

.activity-content strong{

color:white;

font-size:14px;

}

.activity-content p{

margin:6px 0;

color:#ddd;

font-size:13px;

}

.activity-content span{

font-size:12px;

color:#777;

}